@model MVC5CentrexDataProcessor.ViewModels.ReportsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reports</h4>
	<hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Record10S)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
