@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This application can be used to re-rate, and re-format, Excel, CSV, and flat file, usage files from telecom providers
        for Centrex recharge type, to be imported into the ITS Recharge system for monthly recharge processing. 
</p>
