@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   635 Arguello Boulevard<br />
    Pacifica, CA 44044<br />
    <abbr title="Phone">P:</abbr>
    415-225-2859
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">daumadam@gmail.com</a><br /
</address>