@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centrex Data Processor</h1>
    <p class="lead">This application can be used to re-rate, and re-format, Excel, CSV, and flat file, usage files from telecom providers
        for Centrex recharge type, to be imported into the ITS Recharge system for monthly recharge processing. 
    </p>
    <p>
        @Html.ActionLink("Learn more details", "About", "Home", new {@class = "btn btn-primary" })
    </p>
</div>

