
@{
    ViewBag.Title = "Import";
}

<div class="container">
    <div class="row">
        <h2>File Import</h2>
    </div>
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
                <label for="file">File input</label>
                <input type="file" name="file" id="file" class="form-control-file" >  
                <small class="text-muted">ATT EDS usage file.  Must be pipe-delimited text file.</small>
                <button type="submit" class="btn btn-primary">Upload</button> 
        </form>
    </div>
</div>


